<h1>OBSERVABLE   Practice</h1>

<div>
<h3>By using SERVICE to get data and display</h3>
<ul>
    <li *ngFor="let data of myBooks">
        id: {{data.id}} | name : {{data.name}} | catagory: {{data.catagory}} 
    </li>
</ul>
</div><br><br>
<div>
    <h3>Using Async pipe to get and display data insted of service</h3>
    <ul>
        <li *ngFor="let data of myBooks$ | async">
            id: {{data.id}} | name : {{data.name}} | catagory: {{data.catagory}} 
        </li>
    </ul>
</div><br><br>
<div>
    <h2>Get book by id using service</h2>
    <div *ngIf="myBook">
        id: {{myBook.id}} | name : {{myBook.name}} | catagory: {{myBook.catagory}} 
    </div><br><br>
    <h2>Get book by id using async pipe</h2>
    <div *ngIf="myBook$ | async as mb">
        id: {{mb[0].id}} | name : {{mb[0].name}} | catagory: {{mb[0].catagory}} 
    </div><br><br>
    <div>
        <h2>show book name by map operator</h2>
        <div>
            Book name: {{bookname}}
        </div><br>
        <h2>show data by async pipe map</h2>
        <div *ngIf="bookname$ |async as book">
            Book name: {{book}}
        </div>
    </div>
</div>
<div>
    <h2>mergeMap use to get related books by catagory</h2>
    <ul>
        <li *ngFor="let data of relatebooks">
            id: {{data.id}} | name : {{data.name}} | catagory: {{data.catagory}}
        </li>
    </ul>
</div>



